<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>User Information</title>
</head>
<body>
<div align="center">
    <h1>User List</h1>
    <a href="new">Create New User</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>UserID</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Password</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="webs : ${web}">
            	<td th:text="${webs.userId}">UserID</td>
                <td th:text="${webs.userName}">UserName</td>
                <td th:text="${webs.eMail}">Email</td>
                <td th:text="${webs.mobileNo}">Mobile</td>
                <td th:text="${webs.password}">Password</td>
                <td th:text="${webs.photo}">Photo</td>
       
                <td>
                	<a th:href="@{'/edit/' + ${webs.id}}">Edit</a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/delete/' + ${webs.id}}">Delete</a>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>    
</body>
</html>